/* Estilos generales */
html, body {
  height: 100%; /* Asegura que el body y el html ocupen toda la altura del viewport */
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  background: #f4f4f4; /* Fondo gris claro */
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura del viewport */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff; /* Fondo blanco */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Encabezado */
#header {
  background: #e0e0e0; /* Fondo gris claro para el encabezado */
  text-align: center;
  padding: 20px;
  color: #333;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

#header h1 {
  font-size: 32px;
  margin: 0.5em 0;
}

#header h2 {
  font-size: 24px;
  margin: 0.5em 0;
}

/* Contenido */
#content {
  background: #ffffff; /* Fondo blanco para el contenido */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
}

#content h2 {
  color: #333;
  font-size: 24px;
  margin: 0 0 20px;
}

input[type="text"],
textarea {
  margin: 6px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

input[type="button"] {
  margin: 6px 0;
  padding: 10px 20px;
  border: none;
  background-color: #333; /* Color gris oscuro */
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: #555; /* Color gris más oscuro al pasar el mouse */
}

/* Pie de página */
#footer {
  color: #ffffff;
  background: #333; /* Fondo gris oscuro para el pie de página */
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0 0 8px 8px;
}

a {
  color: #333; /* Color gris oscuro para los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
